/* nav styling */
nav li {
    background-color: #d6d6d6;
    padding: 10px;
    width: 100px;
    border: 2px solid black;
    border-radius: 15px;
    display: inline-block;
    text-align: center;
}
a {
    font-family: "Fira Sans", sans-serif;
    color: black;
    text-decoration: none;
}
.active {
    background: #5f8d60;
    font-weight: bold;
    border: 3px solid black;
}
a:visited{color: black;}

/* body text and galleries */
body{
    background-color: #e9e5e5;
    font-family: "Fira Sans", sans-serif;
    margin-top: 15px;
    margin-left: 25px;
    margin-right: 25px;
}
h1 {
    font-size: 4em;
    text-align: center;
    padding: 5px 10px;
    border: 2px solid black;
    color: black
}
h2 {
    font-size: 2em;
    font-weight: bold;
}
p {
    font-size: 1.5em;
}
img {
    height: 300px;
    width: auto;
    border: 2px solid black;
    border-radius: 10px;
    margin: 10px 5px 10px 5px;
}
.top {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 400px;
}
.gallery {
    background-color: #f5f5dc;
    margin-top: 20px;
}
.gallery img{
    height: 250px;
    width: auto;
}
.gallery img:nth-child(2n):hover {
    padding: 5px;
    border: 3px solid #92c12e;
}
footer {
    background: #5f8d60;
    margin: 5px;
    border: 1px solid black;
}
footer p {
    text-align: center;
    font-size: 16px;
    padding: 0px;
}
.header {
    background-image: url("../images/mountains.jpg");
    background-color: #e9e5e5;
    background-attachment: initial;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    min-height: 400px;
}
.header h1 {
    border: none;
    color: #3e3465;
    padding: 50px 0;
}
.video {
    display: flex;
    justify-content: center;
}

/* form styling */
legend {
    font-size: 2em;
    font-weight: bold;
}
input {
    /* width: 100%; */
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #3e3465;
  box-sizing: border-box;
}
input[type=radio] {
    width: 5%;
}
input[type=text] {
    width: 100%;
}
input[type=submit] {
    background-color: #3e3465;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  width: 100%;
  font-size: 2em;
}
form {
    width: 80%;
    margin: 0 auto;
}

/* grid for climate page */
.grid-gallery {
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px;
    row-gap: 5px;
    justify-items: center;
}
.grid-gallery img {
    margin: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* flex for produce gallery page */
.flex-gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: space-around;
}
.flex-gallery img {
    margin: 2px;
}

/* animations */
@keyframes fade {
    0% {opacity:0;}
    25% {opacity:.5;}
    50% {opacity:.75;}
    100% {opacity:1;}
}
@keyframes grow {
    from {font-size: 1em;}
    to {font-size: 4em;}
    0% {opacity:0;}
    25% {opacity:.5;}
    50% {opacity:.75;}
    100% {opacity:1;}
}
#animate {
    animation: fade 6s 1;
}
#grow {
    animation: grow 6s 1;
}

/* media queries */
@media screen and (max-width: 770px) {
    p {
        font-size: 25px;
        text-align: center;
    }
    .grid-gallery {
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (prefers-reduced-motion: reduce) {
    #animate, #grow {
        animation: none;
    }
}